
*{
    box-sizing: border-box;
}

body{
    background: #444;
    color: #fff;
 	height: 100%;
    margin: 0;
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
} 

.menu{
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 1;
	visibility: hidden;
}

.show{
	visibility: visible;
}

.menu-branding {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	float: left;
	width: 50%;
	height: 100vh;
	overflow: hidden;
	background: #444;
	transform: translate3d(0, 100%, 0);
	transition: all 0.5s ease-out;
}
.menu-branding.show{
		transform: translate3d(0, 0, 0);
}

.portrait{
	width: 250px;
	height: 250px;
	background: url('image/portrait.jpg');
	border: 3px solid #eece1a;
	border-radius: 50%;
}
.nav-item{
	transform: translate3d(600px, 0, 0);
	transition: all 0.5s ease-out;
}

.nav-item.show{
	transform: translate3d(0, 0, 0);
}

.nav-item:nth-child(1){
	transition-delay: 0.1s;
}

.nav-item:nth-child(2){
	transition-delay: 0.2s;
}

.nav-item:nth-child(3){
	transition-delay: 0.3s;
}

.nav-item:nth-child(4){
	transition-delay: 0.4s;
}

.nav-item:nth-child(5){
	transition-delay: 0.5s;
}

.nav-item:nth-child(6){
	transition-delay: 0.6s;
}
.nav-item:nth-child(7){
	transition-delay: 0.7s;
}
.nav-item:nth-child(8){
	transition-delay: 0.8s;
}
.nav-link{
	display: inline-block;
	position: relative;
	font-size: 30px;
	text-transform: uppercase;
	padding: 1rem 0;
	font-weight: 300;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s ease-out;
}

.current> a{
	color: #eece1a;
}

.nav-item> a:hover{
	font-size: 40px;
	color: #eece1a;
    transition: all 0.5s ease-out;
}
.menu-nav{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	float: left;
	width: 50%;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: #595959;
	list-style: none;
	transform: translate3d(0, -100%, 0);
	transition: all 0.5s ease-out;
}

.show{
	transform: translate3d(0, 0, 0);
}
.menu-btn{
	position: absolute;
	z-index: 3;
	right: 35px;
	top: 35px;
	cursor: pointer;
	transition: all 0.5s ease-out;
}

.menu-btn>.btn-line{
	width: 28px;
	height: 3px;
	margin: 0 0 5px 0;
	background: #fff;
	transition: all 0.5s ease-out;
}

.close{
	transform: rotate(180deg);
}

.close >.btn-line:nth-child(1){
		transform: rotate(45deg) translate(5px, 5px);
}

.close >.btn-line:nth-child(2){
		opacity: 0;
}
.close >.btn-line:nth-child(3){
		transform: rotate(-45deg) translate(7px, -6px);
}

h1, h2, h3, h5{
    margin: 0;
    font-weight: 400;
}

.lg-heading{
    font-size: 6rem;
}
    	
.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
}

a{
    color: #fff;
    text-decoration: none;
    padding: 0.4rem;
}

a:hover{
    color: #eece1a;
    transition: all 0.5s ease-out;
}

header{
	position: fixed;
	z-index: 2;
	width: 100%;
}

.text-secondary{
    color: #eece1a;
}

main{
    padding: 4rem;
    min-height: calc(100vh - 60px);
}

#home{
    overflow: hidden;
}

#home> h1{
    margin-top: 20vh;
} 

.icons{
    margin-top: 1rem;
}

.about-info{
	display: grid;
	grid-gap: 30px;
	grid-template-areas: 
	'bioimage bio bio';
	grid-template-columns: repeat(3, 1fr);
}

.bio-image{
	grid-area: bioimage;
	margin: auto;
	border-radius: 50%;
	border: 3px solid #eece1a;
}

.bio{
	grid-area: bio;
	font-size: 1.5rem;
}
.about-infos{
	display: grid;
	grid-gap: 30px;
	grid-template-areas: 
	'bioimage bio bio'
	'job1 job2' ;
	grid-template-columns: repeat(2, 1fr);
}

.title{
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.work-it{
	margin-left: 3.5rem;
	margin-right: 2.5rem;
}
p{
	text-indent: 35px;
}

.job>p{
	text-indent: 15px;
}
.job1{
	grid-area: job1;
}

.job2{
	grid-area: job2;
}

.job{
	margin-bottom: 2rem;
	margin-top: 1rem;
	background: #4f4f4f;
	padding: 0.5rem;
	border-bottom: 3px solid #eece1a;

}

.projects{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

a>img{
	width: 100%;
	border: 3px solid grey;
	margin-top: 0.3rem;
}

a>img:hover{
	border-color: #eece1a;
	transition: all 0.5s ease-out;

}

.btn-dark{
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	margin-bottom: 0.3rem;
	margin-left: 1rem;
	background: #000;
	color: #fff;
}

.btn-dark:hover{
	background-color: #eece1a;
  	color: black;
  	cursor: pointer;
}

.btn-light{
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	margin-bottom: 0.3rem;
	margin-left: 1rem;
	background: #9d9d9d;
	color: #333;
}

.btn-light:hover{
	background-color: #eece1a;
  	color: black;
  	cursor: pointer;
}

.btn{
	display: block;
	padding: 0.5rem 1rem;
	border: 3px solid #fff;;
	margin-bottom: 1.5rem;
	margin-left: 1rem;
	color: #fff;
}
.btn:hover{
	border-color: #eece1a;
	transition: all 0.5s ease-out;
}
.fa-certificate{
	color: #eece1a;
}
.fa-eye{
	color: #eece1a;
}
.fa-html5{
	color: #eece1a;
}
.boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 1rem;
}
.cnt{
	font-size: 27px;
	border: 3px solid #fff;
	padding: 1.5rem 2.5rem;
	margin-bottom: 3rem;
	transition: all 0.5s ease-out;
}

.cnt:hover{
	padding: 0.5rem 1.5rem;
	background: #eece1a;
	color: black;
	cursor: pointer;
}

.edu{
	left: 50%;
	font-size: 20px;
	border: 3px solid #fff;
	padding: 1.5rem 2.5rem;
	margin-right: 3rem;
	margin-bottom: 3rem;
	transition: all 0.5s ease-out;
	align-items: center;
	text-align: center;
}

.edu:hover{
	border-color: #eece1a;
	transition: all 0.5s ease-out;
}

.text-secondary1{
	color: white;
}


.pictures-grid {
    display: grid;
	grid-gap: 30px;
	grid-template-areas: 
	'evt1 evt2 evt3'
	'evt4 evt5 evt6';
	grid-template-columns: repeat(3, 1fr);
}

.pictures-items {
    overflow: hidden;
    transition: all 0.5s ease-out;
    position: relative;
}

.pictures-items img {
    width: 90%;
	border: 3px solid #fff ;
	margin-top: 0.3rem;
}

.pictures-items>img:hover{
	border-color: #eece1a;
	transition: all 0.5s ease-out;
}

#main-footer{
	text-align: center;
	background: #282828;
	color: #fff;
	height: 40px;
	line-height: 40px
}


.flex-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.skill-container{
	flex-wrap: wrap;
	padding: 1rem 0;
}

.flex-item{
	padding: 0 1rem;
}

.skill-item{
	margin-bottom: 1rem;
}

.skill-polygon{
	font-weight: 500;
	text-align: center;
	line-height: 130px;
	width: 130px;
	height: 130px;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	border: 3px solid #fff;
	background: #4f4f4f;
	color: #fff;
	position: relative;
	transition: all 0.5s ease-out;
}

.skill-polygon:hover{
	padding: 0.5rem 1rem;
	border: 3px solid #eece1a;
	transition: all 0.5s ease-out;
}


.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall{
	0%{top:-10%}
	100%{top:100%}
}
@-webkit-keyframes snowflakes-shake{
	0%,100%{-webkit-transform:translateX(0);
		transform:translateX(0)}
	50%{-webkit-transform:translateX(80px);
		transform:translateX(80px)}
}
@keyframes snowflakes-fall{
	0%{top:-10%}
	100%{top:100%}
}
@keyframes snowflakes-shake{
	0%,100%{transform:translateX(0)}
	50%{transform:translateX(80px)}
}
.snowflake{
	position:fixed;
	top:-10%;
	z-index:9999;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
	-webkit-animation-name:snowflakes-fall,snowflakes-shake;
	-webkit-animation-duration:10s,3s;
	-webkit-animation-timing-function:linear,ease-in-out;
	-webkit-animation-iteration-count:infinite,infinite;
	-webkit-animation-play-state:running,running;
	animation-name:snowflakes-fall,snowflakes-shake;
	animation-duration:10s,3s;
	animation-timing-function:linear,ease-in-out;
	animation-iteration-count:infinite,infinite;
	animation-play-state:running,running;
}
.snowflake:nth-of-type(0){
	left:1%;
	-webkit-animation-delay:0s,0s;
	animation-delay:0s,0s;
}
.snowflake:nth-of-type(1){
	left:10%;
	-webkit-animation-delay:1s,1s;
	animation-delay:1s,1s;
}
.snowflake:nth-of-type(2){
	left:20%;
	-webkit-animation-delay:6s,.5s;
	animation-delay:6s,.5s;
}
.snowflake:nth-of-type(3){
	left:30%;
	-webkit-animation-delay:4s,2s;
	animation-delay:4s,2s;
}
.snowflake:nth-of-type(4){
	left:40%;
	-webkit-animation-delay:2s,2s;
	animation-delay:2s,2s;
}
.snowflake:nth-of-type(5){
	left:50%;
	-webkit-animation-delay:8s,3s;
	animation-delay:8s,3s;
}
.snowflake:nth-of-type(6){
	left:60%;
	-webkit-animation-delay:6s,2s;
	animation-delay:6s,2s;
}
.snowflake:nth-of-type(7){
	left:70%;
	-webkit-animation-delay:2.5s,1s;
	animation-delay:2.5s,1s;
}
.snowflake:nth-of-type(8){
	left:80%;
	-webkit-animation-delay:1s,0s;
	animation-delay:1s,0s;
}
.snowflake:nth-of-type(9){
	left:90%;
	-webkit-animation-delay:3s,1.5s;
	animation-delay:3s,1.5s;
}
.snowflake:nth-of-type(10){
	left:25%;
	-webkit-animation-delay:2s,0s;
	animation-delay:2s,0s;
}
.snowflake:nth-of-type(11){
	left:65%;
	-webkit-animation-delay:4s,2.5s;
	animation-delay:4s,2.5s;
}
